@font-face {
			    font-family: 'Hawaiian Aloha';
			    src: url('Fonts/hawaiian-aloha-btn-bold.ttf');
			}
			@font-face {
			    font-family: 'Script Bold';
			    src: url('Fonts/SCRIPTBL.TTF');
			}
			@font-face {
			    font-family: 'Monospace Typewriter';
			    src: url('Fonts/MonospaceTypewriter.ttf');
			}
			body{
				/*background: url('back.jpg')no-repeat center center fixed; 
					-webkit-background-size: cover;
					-moz-background-size: cover;
					-o-background-size: cover;
					background-size: cover;
				width: 90%;
				left: 5%;
			   	height: 100%;
			   	top: 35%;
			   	position: fixed;*/
			   	text-align: center;
			   	display:inline-block;
			}
			#moodi{
				position: absolute;
				width:100%;
				top: 4%;
				z-index: 10;
			}
			audio{
				display: none;
			}
			#logounit{
				position: relative;
				padding-bottom: 30px;
				margin: auto 0;
			}
			#logo{
				width: 50%
			}
			.timer{
				font-family: "Monospace Typewriter";
				font-size: 100px;
				position: relative;
				margin: 4px;
				height: 135px;
				width: 80px;
				background-color: rgba(30,20,12,0.7);
				border-radius: 20px;
				color:#fff;
				display: inline-block;
			}
			.timergroup{
				width: 17%;
				display: inline-block;
			}
			.msg{
				font-family: "Script Bold";
			    font-size: 45px;
			    color: #573A22;
			    width:70%;
			    position: absolute;
			    bottom:5%;
			    left: 28%;
			}
			.time{
				font-family: "Hawaiian Aloha";
				font-size: 40px;
				display: inline-block;
				color: white;
				width: 100%;
			}
			#micon{
				width: 24px;
				height: 24px;
			}
			#muteb{
				position: absolute;
				z-index: 10;
				right: 2%;
				bottom: 3%;
			}


			@media only screen and (min-width : 300px) and (max-width : 480px), screen and (min-device-width : 300px) and (max-device-width : 480px) {
				body{
					width: 100%;
					left:0%;
					top:27%;
				}
				.timergroup{
					width:50%;
					display: inline-block;
				}
				.timer{
					font-size: 60px;
					margin:2px;
					height: 83px;
					width: 55px;
					border-radius: 12px;
				}
				.time{
					font-size: 20px;
				}
				.msg{
				    font-size: 30px;
				    bottom:0px;`
				}
			}


			@media only screen and (min-width : 481px) and (max-width : 767px), screen and (min-device-width : 481px) and (max-device-width : 767px) {
				body{
					width: 100%;
					left:0%;
					top: 30%;
				}
				.timergroup{
					width:33%;
					display: inline-block;
				}
				.timer{
					font-size: 70px;
					margin:3px;
					height: 100px;
					width: 60px;
					border-radius: 14px;
				}
				.time{
					font-size: 25px;
				}
				.msg{
				    font-size: 35px;
				    bottom: 0%;
				}
			}


			@media only screen and (min-width : 768px) and (max-width : 1024px), screen and (min-device-width : 768px) and (max-device-width : 1024px) {
				body{
					width: 100%;
					left:0%;
				}
				.timer{
					font-size: 80px;
					margin:3px;
					height: 110px;
					width: 65px;
					border-radius: 16px;
				}
				.time{
					font-size: 30px;
				}
				.msg{
				    font-size: 40px;
				    bottom: 0%;
				}
			}


			@media only screen and (min-width : 1024px) and (max-width : 1240px), screen and (min-device-width : 1024px) and (max-device-width : 1240px) {
				.timer{
					font-size: 90px;
					margin:4px;
					height: 120px;
					width: 70px;
					border-radius: 18px;
				}
				.time{
					font-size: 35px;
				}
				.msg{
				    font-size: 45px;
				    bottom: 0%;
				}
			}